img{
    width: 200px;
    height: 96px;
    flex-shrink: 0;
    position: absolute;
    top: 15%;
    left: 48.2%;
    transform: translate(-50%, -50%);
    }



input[type=text]{
    display: flex;
    width: 283px;
    padding: 10px 15px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 10px 0 ;
    border-radius: 6px;
    border: 1px solid var(--Dark-Blue, #00519A);
    background: var(--White, #FFF);
    position: absolute;
    top: 50%;
    left: 48.2%;
    transform: translate(-50%, -50%);
}

input[type=password]{
    display: flex;
    width: 283px;
    padding: 10px 15px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 10px 0 ;
    border-radius: 6px;
    border: 1px solid var(--Dark-Blue, #00519A);
    background: var(--White, #FFF);
    position: absolute;
    top: 57%;
    left: 48.2%;
    transform: translate(-50%, -50%);
}

button {
    color: #FFF;
    display: flex;
    width: 99px;
    height: 53px;
    padding: 3px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 6px;
    cursor: pointer;
    border-color: #08C;
    background: var(--Light-Blue, #08C);
    box-shadow: 0px 5px 15px 0px rgba(37, 44, 97, 0.15), 0px 2px 4px 0px rgba(136, 144, 194, 0.20);
    position: absolute;
    top: 70%;
    left: 48.2%;
    transform: translate(-50%, -50%);
}

#icone03,
#registrarConsumo a {
  padding: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
}

#icone03 {
  top: 90%;
  left: 48.2%;
  text-align: center;
  color: #0088CC;
}

main a {
    text-align: center;
    text-decoration: none;
    color: #0088CC;
    cursor: pointer;
  }